.container{
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

.load{
    display: flex;
    justify-content: center;
    p{
    border: 2px solid;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    background: #cfc2c2;
    color: #551a8f;
    padding: 15px;
    }
    p:hover{
        cursor: pointer;
        background-color: #551a8f;
        color: #cfc2c2;
    }
}